@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

/* || RESET */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* || VARIABLES */
:root {
    /* FONTS */
    --FF: 'Outfit', sans-serif;

    /* COLORS */
    --WHITE:hsl(0, 0%, 100%);
    --LIGHT-GRAY:hsl(212, 45%, 89%);
    --GRAYISH-BLUE:hsl(220, 15%, 55%);
    --DARK-BLUE:hsl(218, 44%, 22%);
}

/* || UTILITY CLASSES */
.sr-only {
    left: -10000px;
    position: absolute;
}

/* || GENERAL STYLES */
html {
    font-family: var(--FF);
}

body {
    background: var(--LIGHT-GRAY);
    display: grid;
    min-height: 100vh;
    place-items: center;
    text-align: center;
}

.container{
    background: var(--WHITE);
    border-radius: 20px;
    max-width: 350px;
    padding: 1em;
}

figcaption, p{
    line-height: 1.3;
}

/* || FIGURE */
img {
    border-radius: 10px;
    display: block;
    height: auto;
    max-width: 100%;
}

figcaption {
    color: var(--DARK-BLUE);
    font-size: 1.75rem;
    font-weight: 700;
    padding: 1em 0 0;
}

/* PARAGRAPH */
p{
    color: var(--GRAYISH-BLUE);
    font-size: 1.1rem;
    padding: 1em 0 2em;
}